
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 100%;

  background-color: #03143B;
  color: #F4F2EF;
  padding: 20px 20px;
  border-radius: 5px;
}


.about-container h1 {
  color: #ede4f7;
  margin-bottom: 20px;
  text-align: center;
}

.about-section {
  display: flex;
  flex-direction: row;
  margin: 20px;
  text-align: left;
  flex-wrap: wrap;
  gap: 20px;
}


.about-logo {
  height: auto;
  width: 450px;
  max-width: 100%;
  margin: 10px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(139, 45, 233, 0.3);
}


.about-text {
  font-size: 20px;
  margin: 10px;
  text-align: justify;
  line-height: 1.6;
  width: 60%;
  min-width: 280px;
  max-width: 500px;
  align-content: center;
}


.about-subsection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
  text-align: center;
}


.about-subcontent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}


.about-subcontent img {
  max-height: 450px;
  max-width: 580px;
  margin: 10px;
  border-radius: 25px;
  box-shadow: 0 0 30px rgba(93, 2, 184, 0.774);
}


.about-subcontent p {
  font-size: 20px;
  margin: 10px;
  text-align: justify;
  line-height: 1.6;
  width: 100%;
  max-width: 500px;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .about-text {
    width: 100%;
    font-size: 18px;
    text-align: left;
  }

  .about-logo {
    width: 100%;
    max-width: 300px;
  }

  .about-subcontent {
    flex-direction: column;
    align-items: center;
  }

  .about-subcontent img {
    max-width: 100%;
    height: auto;
  }

  .about-subcontent p {
    font-size: 18px;
    text-align: left;
    width: 100%;
    max-width: 100%;
  }

  .about-container {
    padding: 20px 10px;
  }

  .about-subsection {
    margin: 10px;
  }
}
